body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #afabfb;
    color: #555;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: #aae;
    padding: 10px;
    text-align: center;
}
