@use "variables";

html, body {
    height: 100%;
    margin: 0;
    font-family: variables.$font-family-default;
    font-size: variables.$body-size;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {
    background-color: variables.$color-white;
}

.columns.is-vcentered {
    align-items: stretch !important;
}

.section {
    flex-grow: 1;
}
