html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {
    background-color: #ffffff;
}

.columns.is-vcentered {
    align-items: stretch !important;
}

.section {
    flex-grow: 1;
}
