@use "sass:color";
@use "variables";

html, body {
    height: 100%;
    margin: 0;
    font-family: variables.$font-family-default;
    font-size: variables.$body-size;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: variables.$text-default;
}

.title,
.subtitle {
    color: variables.$text-default;
}

a {
    color: variables.$href-link;

    &:hover {
        color: color.adjust(variables.$href-link, $lightness: -15%);
    }
}

html {
    background-color: variables.$bg-page;
}

.columns.is-vcentered {
    align-items: stretch !important;
}

.section {
    flex-grow: 1;
}
