@use "variables";

.footer {
    padding: variables.$space-lg variables.$space-lg;
}

.footer img[alt~="Creative Commons License"] {
    height: 1.0em;
    width: auto;
    vertical-align: bottom;
    margin-left: variables.$space-sm;
}
