@use "variables";

.footer {
    padding: variables.$space-lg variables.$space-lg;
    background-color: variables.$bg-page;
    color: variables.$text-muted;
}

.footer img[alt~="Creative Commons License"] {
    height: 1.0em;
    width: auto;
    vertical-align: bottom;
    margin-left: variables.$space-sm;
}
